
body, html {
    margin: 0; padding: 0;
    background-color: #fff;
    overflow: hidden;
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: center;
}
* {
    box-sizing: border-box;
}
/* :root {
    --primary: #6C63FF;
    --secondary: #FF6584;
    --accent: #00C9A7;
    --bg: #F4F6FC;
    --text: #1F2937;
    --htext: 36px;
    --btext: 12px;
} */
 :root {
    --primary: #FF6584;
    --secondary: #6C63FF;
    --accent: #00C9A7;
    --bg: #0a0a12;
    --text: #e2c6da;
    --htext: 36px;
    --btext: 12px;
}
.main-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--bg);
    margin: 0; padding: 0;
    position: relative;
    z-index: 1;
    scrollbar-width: none;
}
.canvas {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 53.5%;
    z-index: 2;
}
.header {
    position: sticky;
    top: 0px;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--text);
    background-color: var(--primary);
    z-index: 500;
    opacity: 0.95;
}
.navbar {
    padding: 0px 20px;
    display: flex;
    position: relative;
}
.navbar .nav-item {
    color: #3B1F2B;
    font-size: 14px;
    margin: 0 20px;
    font-weight: bold;
    text-decoration: none;
}
.underline {
    width: 35px;
    height: 2px;
    background-color: #3B1F2B;
    border-radius: 5px;
    position: absolute;
    left: 40px;
    bottom: -1px;
    box-shadow: 0 0 7px var(--secondary);
    transition: all 0.3s ease-in-out;
}

.container {
    width: 100%;
    height: auto;
}
.circle-style {
    position: absolute;
    left: -85px;
    top: -50px;
    opacity: 0.2;
}
.circle-style1 {
    position: absolute;
    right: -115px;
    top: 25px;
    opacity: 0.2;
}
.section {
    padding: 35px 0;
}
.home {
    padding: 40px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home-h2 {
    font-size: 32px;
    color: var(--text);
    max-width: 300px;
    margin: 5px 0px;
}
.home-p {
    font-size: var(--btext);
    color: var(--text);
    max-width: 300px;
}
.home-btn {
    padding: 10px 12px;
    margin: 10px;
    border-radius: 8px;
    font-size: var(--btext);
    background-color: var(--primary);
    color: var(--bg);
    border: none;
    transition: all 0.3s ease-in-out;
    z-index: 3;
    user-select: none;
    cursor: pointer;
}
.home-btn:hover {
    background-color: var(--accent);
    scale: 1.04;
}
.gift {
    width: 96%;
    height: 400px;
    position: relative;
    margin: 24px auto;
    overflow: hidden;
    box-shadow: 0 0 10px var(--secondary);
    border-radius: 4px;
}
.gift h2 {
    z-index: 10;
    color:  var(--primary);
    position: absolute;
    user-select: none;
    top: -3%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
}
.gift-btn {
    background-color: var(--secondary);
    color: var(--bg);
    padding: 6px 10px;
    border: none;
    border-radius: 8px;
    position: absolute;
    bottom: 15px;
    font-weight: bold;
    font-size: 16px;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.gift-btn:hover {
    background-color: var(--accent);
    scale: 1.03;
}
.info {
            position: absolute;
            top: -40%;
            width: 100%;
            height: 80%;
            text-align: center;
            font-family: sans-serif;
            color: #333;
}
.flower {
         position: absolute;
            top: -40%;
            width: 100%;
            height: 80%;
            text-align: center;
            font-family: sans-serif;
            color: #333; 
            pointer-events: none;
            user-select: none;
}
.album {
    width: 100%;
    height: 300px;
    padding: auto;
}
.album-first {
    width: 100%;
    height: auto;
}
.banner {
    margin: 0px;
    width: 100%;
    height: 300px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.banner .slider {
     width: 60px; height: 80px;
     position: absolute;
     top: 25%;
     left: calc( 50% - 30px);
     transform-style: preserve-3d;
     transform: perspective(300px);
     animation: autoRun 20s linear infinite;
}
@keyframes autoRun{
    from {
        transform: perspective(300px) rotateX(-16deg) rotateY(0deg);
    } to {
        transform: perspective(300px) rotateX(-16deg) rotateY(360deg);
    }
}
.banner .slider .photo-item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(130px);
}
.banner .slider .photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wish-head {
    text-align: center;
    margin-bottom: 10px;
}
.wish-head h2 {
    margin: 0;
    color: var(--text);
}
.wish-head p {
    margin: 0; padding: 0;
    color: var(--text);
}
.text-page {
    padding: 10px 20px;
    margin: 20px 20px;
    border-radius: 8px;
    border: 2px solid #FF6584;
    box-shadow: 0 0 10px var(--text);
    position: relative;
    color: var(--text);
}
.card-head {
    display: flex;
    align-items: end;
    margin-top: -10px;
    margin-left: -10px;
}
.card-circle {

}
.card-head p {
    margin-left: -18px;
    margin-bottom: 0px;
    color: var(--text);
}

.card-circle image {
    width: 80px; height: 80px;
    border-radius: 50%;
}
.text-page h2 {
    color: var(--primary);
    text-align: center;
}
.footer {
    text-align: center;
    border-top: 1px solid var(--text);
    box-shadow: 0 0 5px var(--secondary);
    padding: 10px 0px;
    color: var(--text);
}